.section-d{
    position: relative;
    margin: 0;
    
}

.gallery-title{
    font-family: $fnt-primary;
    font-size: $fnt-sz-title;
    color: $fnt-clr-primary;
    margin-left: 16px;
    margin-bottom: 14px;
    font-weight: normal;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
}

.gallery img{
    flex-grow: 1;
    width: 320px;
    height: 243px;
}

@media only screen and (min-width: 576px) {

    .gallery img {
        width:480px;
        height: 364px;
    }
}

@media only screen and (min-width: 768px) {
    .gallery-title br{
        display: none;
    }
    
    .gallery-title {
        font-size: $fnt-sz-sub-big;
        margin-left: 100px;
    }
    
    .gallery img {
        width:256px;
        height: 260px;
    }
    
}

@media only screen and (min-width: 828px) {
    .gallery img {
        width: 276px;
        height: 260px;
    }
}

@media only screen and (min-width: 1024px) {
    .gallery {
        margin-bottom: 64px;
    }
    
    .gallery img {
        width: 340px;
        height: 320px;
    }
}

@media only screen and (min-width: 1200px) {
    .gallery img{
    width: 400px;
    height: 320px;
    }
}

@media only screen and (min-width: 1366px) {
    .gallery img {
        width: 483px;
        height: 383px;
    }
}