// Colores: Landing
$clr-light: #FFFFFF; 
$clr-primary: #0000EC;
$clr-accent: #00F3BB;

// Fuentes
$fnt-primary: "IBM Plex Sans", monospace;
$fnt-secondary: "IBM Plex Mono", monospace;
$fnt-hover: "IBM Plex Mono-Medium", monospace;


// Fuentes: tamaños mobile
$fnt-sz-title: 36px;
$fnt-sz-p: 14px;
$fnt-sz-click: 16px;

// Fuentes: tamaños big-screens
$fnt-sz-title-big: 64px;
$fnt-sz-sub-big:48px;
$fnt-sz-topic: 24px;
$fnt-sz-p-big: 16px;
$fnt-sz-clic-big: 18px;


// Fuentes: colores
$fnt-clr-primary: #060A24;
$fnt-clr-secondary: #FFFFFF;